{% set Image = block.afbeelding.one() %}
     {% if Image %}
         <div class="image">
             <img src="{{ Image.url }}" alt="">
         </div>

     {% endif %}

{# {% set Image = block.afbeelding.one() %}#}
{#            {% if Image %}#}
{#                <div class="image">#}
{#                    <img src="{{ Image.url }}" alt="">#}
{#                </div>#}
{#            {% endif %}#}