{% set mainNav = craft.navigate.raw('mainNav') %}
{% set navImage = NavPhoto.navimage.one() %}

<nav class="navbar">
    {% if navImage %}
        <img src="{{ navImage.url }}" alt="Navigation Image">
    {% endif %}
    <ul>
        {% for node in mainNav %}
            <li>
                <a href="{{ node.url }}">{{ node.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>






