{% set mainNav = craft.navigate.raw('mainNav') %}

{% set navImage = NavPhoto.navimage.one() %}
<header>
    <nav class="navbar">
{#        <img src="{{ entry.navimage.one().url}}" alt="">#}
        {% if navImage %}
            <img src="{{ navImage.url }}" alt="Navigation Image">
        {% endif %}
        <ul>
            {% for node in mainNav %}
                <li>
                    <a href="{{ node.url }}">{{ node.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>







