 <h2>title</h2>
{#      <img class="main-products-foto" :src= 'product.afbeelding' alt="eminem lp">#}
      <p class="main-products-tekst">tekst</p>
      <p class="main-products-prijs">Price: € </p>
        <button class="button-detail" @click="viewProductDetails">lees meer</button>