
 {% for block in productimage.productimage %}
 <div class="main-products">
     <h2>{{ block.producttitle}}</h2>
     <img src="{{ block.url }}" alt="" class="main-products-foto">
     <p class="main-products-tekst">{{ block.productdescription }}</p>
     <p class="main-products-prijs">Price: € {{ block.productprijs }}</p>
     <a href="http://www.retrospin-records.be/detailpagina" target="_self">
         <button type="button" class="button-detail">Read More</button>
     </a>
 </div>
 {% endfor %}

