<div class="card">
            <div class="card-overlay">
                <h1 class="card-overlay-heading">{{ product.producttitle }}</h1>
                <p class="card-overlay-paragraph">Price: {{ product.productprijs | money}} </p>
                <p class="card-overlay-paragraph">Voorraad: {{ product.productvoorraad }} stuks</p>
            </div>
    {% set ProductImage = product.productimage.one()%}
        {% if ProductImage %}
            <img src="{{ ProductImage.url }}" class="card-image">
        {% endif %}
    </div>