{% extends './_layout.twig' %}

{% block content %}
    <div class="flex justify-center">
        <div class="form">
            {{ craft.formie.renderForm('contactform') }}
        </div>

    </div>

{% endblock %}