{% extends './_layout.twig' %}
{% set entry = craft.entries.section('contact').one() %}

{% block content %}
    <section class="contactpage">
        <h1 class="formtitle">{{ entry.text }}</h1>
        <div class="form">
            {{ craft.formie.renderForm('contactformulier') }}
        </div>
    </section>
{% endblock %}