{#{% extends './_layout.twig' %}#}

{#{% block content %}#}
{#    {% set detailP = craft.entries.section('detail').limit (1)%}#}
{#    {% set detailP = craft.entries.section('detail')%}#}
{#            <div class="detail">#}
{#                {% for detail in detailP %}#}
{#                    {% include 'components/DetailCard.twig' %}#}
{#                {% endfor %}#}
{#            </div>#}


{#{% endblock %}#}
