{% extends './_layout.twig' %}

{% block content %}
    <div class="blockbuilder">
        {% set blocks = entry.blockbuilder.all() %}
        {% for block in blocks %}
            <div>
                {% include './_snippits/_blocks/_blockbuilder.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

