{% extends './_layout.twig' %}


{% block content %}
    <section class="tekst-overzichtspagina">
        <h1>catalogus</h1>
        <p>Hier vind u een overzicht van alle producten die beschikbaar zijn op deze webshop.</p>
        <p>Zijn er producten die u misschien mist, kom dan zeker eens langs in de winkel.</p>
    </section>
    <section id="products">
        {% set Producten = craft.entries.section('productitems').all() %}
        {#        {% set sneakers = craft.entries.section('sneakers').orderBy('price').all() %}#}
        {#        {% set sneakers = craft.entries.section('sneakers').orderBy('price DESC').limit(3).all() %}#}

        {% if Producten|length > 0 %}
        <main class="main">
                {% for productitem in Producten %}
                    {% include 'components/ProductCardComponent.twig' %}
                {% endfor %}
        </main>
        {% endif %}
    </section>


{% endblock %}